.page.theme_light {
  --accent-color: #353430;
  --main-title-color: #ffc2e6;
  --shadow-color: #ff8dcb;
  --paragraph-color: #353430;
  --bg-paragraph-color: #ff8dcb;
  --title-color: #353430;
  --point-color: #353430;
  --bg-point-color: #ff8dcb;
  --text-color: #353430;
  --main-bg-color: #fff1f7;
  --shadow-link-color: #ff8dcb;
  --hover-button-color: #adadab;
  --hover-link-color: #353430;
  --focus-button-color: #353430;
  --focus-link-color: #353430;
  background-image: url(../images/cover-image-light.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: var(--main-bg-color, #fff1f7);
}

.theme_light .decor-element {
  visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #353430;
    --main-title-color: #ffc2e6;
    --shadow-color: #ff0070;
    --paragraph-color: #353430;
    --bg-paragraph-color: #ff8dcb;
    --title-color: #353430;
    --point-color: #353430;
    --bg-point-color: #ff8dcb;
    --text-color: #353430;
    --main-bg-color: #fff1f7;
    --shadow-link-color: #ff8dcb;
    --hover-button-color: #adadab;
    --hover-link-color: #353430;
    --focus-button-color: #353430;
    --focus-link-color: #353430;
  }
  .decor-element {
    visibility: hidden;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }
}

/* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  

/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
